<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header set X-Content-Type-Options "nosniff"
	Header set Content-Security-Policy "default-src https: data: 'self'; worker-src 'self' blob:; script-src 'self' blob: 'unsafe-eval' https: www.googletagmanager.com/* pagead2.googlesyndication.com/* code.jquery.com/* cdnjs.cloudflare.com/* stackpath.bootstrapcdn.com/*; report-uri https://efweb.ddns.net/collector.cgi"
	Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
	Header set X-Frame-Options "SAMEORIGIN"
	Header set Referrer-Policy: strict-origin-when-cross-origin
	RewriteEngine On 
	RewriteCond %{SERVER_PORT} 80 
	RewriteRule ^(.*)$ https://efweb.ddns.net/$1 [R,L]
	ExpiresActive On
	ExpiresDefault A1
	Header append Cache-Control must-revalidate
</IfModule>