.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear, Logo-Animate 2s cubic-bezier(0.4, 0, 0.2, 1);
  height: 40vmin;
  pointer-events: none;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  left:-20%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editSrcAnimate {
  animation: Edit-Src-Animate 2s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.learnReactAnimate {
  animation: Learn-React-Animate 2s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.onOffButton {
  animation: On-Off-Animate 2s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

@keyframes Logo-Animate {
  0% {left:-100%;}
  100% {left:0%;}
}

@keyframes Edit-Src-Animate {
  0% {left:-100%;}
  10% {left: -100%}
  100% {left:0%;}
}

@keyframes Learn-React-Animate {
  0% {left:-100%;}
  20% {left: -100%}
  100% {left:0%;}
}

@keyframes On-Off-Animate {
  0% {left:-100%;}
  30% {left: -100%}
  100% {left:0%;}
}

.toggleButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.toggleButton:hover {
  cursor: pointer;
}
