.flynnbotApp {
  margin: 0 auto;
  margin-top: 40px;
  height: 700px;
  width: 940px;
}

.flynnbotFrame {
  margin: 0 auto;
  width: 600px;
  height: 700px;
  border: 1px solid black;
  display: inline-block;
  overflow: auto;
}

.requestFrame {
  margin-bottom: 300px;
  margin-left: 40px;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  display: inline-block;
  overflow: auto;
}

.flynnbotInput {
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
}

.flynnbotButton {
  width: 100px;
}

.flynnbotButtonDiv {
  margin: 0 auto;
  width: 100px;
}

.flynnbotResponse {
  margin-top: 30px;
}

.flynnbotResponseDiv {
  white-space: pre-line;
}

@media (max-width: 1174px) {
  .main {
    width: 100%;
  }
}

@media (max-width: 941px) {
  .flynnbotApp {
    width: 100%;
  }

  .flynnbotFrame {
    margin: 0 auto;
    width: 100%;
    height: 500px;
  }

  .requestFrame {
    margin-top: 10px;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 324px) {
  .requestFrame {
    width: 100%;
  }
}
