<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://outmodedchip64.github.io/blog/styles.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light">
	  <p class="navbar-brand brand-title"><a class="navbar-brand brand-link" href="/blog/">EFweb Blog</a></p>
	  <div class="navbar-nav ml-auto">
            <a href="/" class="nav-item nav-link back-to-efweb">Back to EFweb</a>
        </div>
	</nav>
	
	{{ content }}
	
	<!-- Footer -->
	<footer class="page-footer font-small blog-footer">

	  <!-- Copyright -->
	  <div class="footer-copyright text-center py-3">Copyright © 2020 All rights reserved.
		<a class="blog-link" href="https://outmodedchip64.github.io">EFweb</a>
	  </div>
	  <!-- Copyright -->

	</footer>
	<!-- Footer -->
  </body>
</html>